<div id="<%= dom_id(user_list) %>">
  <li>
    <%= user_list.name %>
    <%= user_list.phone_number %>
  </li>
    <%= button_to "Delete User list", user_list, method: :delete,
                  form: { data: { turbo_confirm: "Tem certeza?" }} %>
</div>