<h1>Lista de Contato</h1>
<%= render partial: "user_list", collection: @user_list %>
<%# @user_list.each do |each| %>
  <%#= render partial: "user_list", user_list: each %>
<%# end %>
<%= link_to "Novo Contato", new_user_list_path %>